.education {
  color: white;
  padding: 30px;
  margin-bottom: 50px;
  padding-left: 10px;
}

.timeline_header {
  max-width: 100%;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.edu_img {
  padding: 2px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 15px;
}

.left {
  text-align: right;
  padding: 5px;
  padding-right: 10px;
}

.right {
  text-align: left;
  padding: 5px;
  padding-left: 10px;
}

.center {
  text-align: center;
}

.school_icon {
  background-color: white;
  color: crimson;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: auto;
}

.edu_grid {
  max-width: 95%;
  margin-top: 20px;
  margin: auto;
}

.line {
  margin: auto;
  background-color: #ffffff;
  height: 40px;
  width: 2px;
}
