@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  color: #0047AB;
  font-size: 2rem;
  padding-top: 50px;
  padding-bottom: 50px;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: #0047AB;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
}

.contact_link {
  margin: 5px;
}

.email_input {
  color: #0047AB;
  margin-top: 20px;
  height: 50px;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  border: 1px solid #0047AB;
}

.message_area {
  color: #0047AB;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  border: 1px solid #0047AB;
}

.send_btn {
  margin-top: 20px;
  margin-right: 10px;
  color: white;
  border-radius: 10px;
  border: 1px solid #0047AB;
  width: 150px;
  height: 75px;
  cursor: pointer;
}

.send_btn:hover {
  background-color: white;
  color: #0047AB;
  border: 1px solid #0047AB;
}
