.achievements {
  text-align: center;
  color: white;
  font-size: 2rem;
  padding-top: 50px;
  padding-bottom: 50px;
}

.achievement_content {
  text-align: left;
  font-size: 1rem;
  margin: 10px;
}
