@import "../../global.scss";

.intro {
  background-color: white;
  color: #0047AB;
  padding-top: 80px;
  padding-bottom: 100px;
  min-height: 80%;
}

.intro_text {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: #0047AB;
  font-size: 2rem;
}

.imgContainer {
  max-width: 275px;
  max-height: 275px;
  margin: auto;
  border-radius: 50%;
}
