.all_content_footer {
  background-color: #0047AB;
  color: white;
  min-height: 50px;
  text-align: center;
  padding-bottom: 20px;
}

.footer_brand {
  padding-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.footer_by {
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
}

.icon {
  margin-left: 10px;
  vertical-align: middle;
}
